
/* * {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
} */

/* body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  background: #fff;
  color: #4d5974;
  display: flex;
  min-height: 100vh;
} */
.dropdown-menu > li > a:hover {
  background-color: #5228F5; /* This doesn't... why? */
}
:host { 
    display: contents; 
  }
 .Link{
  text-decoration: none !important;
  color: #fff;
}
.Link1{
 text-decoration: none !important;
 color: #000;
}
  .how-it-works-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .how-it-works-banner-advanced-analytics {
    width: 100%;
    height: 688px;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: #fff;
  }
  .how-it-works-centered {
    width: 100%;
    height: 108px;
    display: flex;
    max-width: 1200px;
    box-sizing: initial;
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
  }
  .how-it-works-left {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 38px;
    flex-direction: row;
    padding-bottom: 38px;
  }
  .how-it-works-container1 {
    flex: 0 0 auto;
    width: 105px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .how-it-works-navlink {
    display: contents;
  }
  .how-it-works-image {
    width: 100%;
    height: 93px;
    object-fit: cover;
    text-decoration: none;
  }
  .how-it-works-links {
    display: flex;
    align-items: center;
    margin-left: 33px;
    flex-direction: row;
  }
  .how-it-works-navlink1 {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .how-it-works-text {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .how-it-works-navlink2 {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .how-it-works-right {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .how-it-works-sign-in {
    font-style: normal;
    font-weight: 700;
    margin-right: 20px;
    text-decoration: none;
  }
  .how-it-works-navlink3 {
    display: contents;
  }
  .how-it-works-get-started {
    cursor: pointer;
    display: flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 56px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    text-decoration: none;
    background-color: #000000;
  }
  .how-it-works-get-started:hover {
    background-color: #5228F5;
  }
  .how-it-works-text01 {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
  }
  .how-it-works-burger-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .how-it-works-mobile-menu-button {
    width: 40px;
    height: 40px;
    display: none;
  }
  .how-it-works-hero {
    width: 100%;
    height: 637px;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: column;
    background-color: #fff;
  }
  .how-it-works-header {
    display: flex;
    margin-top: 140px;
    align-items: center;
    flex-direction: column;
  }
  .how-it-works-text02 {
    color: rgb(16, 16, 16);
    font-size: 72px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 80px;
  }
  .how-it-works-text03 {
    color: rgb(8, 8, 8);
    font-size: 20px;
    max-width: 600px;
    margin-top: 16px;
    text-align: center;
    line-height: 30px;
  }
  .how-it-works-get-started1 {
    color: white;
    cursor: pointer;
    display: flex;
    margin-top: 40px;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    border-radius: 56px;
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    background-color: #000000;
  }
  .how-it-works-get-started1:hover {
    color: black;
    background-color: #ffffff;
  }
  .how-it-works-text04 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .how-it-works-how-it-works {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-sixunits);
    background-color: #fff;
  }
  .how-it-works-centered-container {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 1200px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
  }
  .how-it-works-heading {
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .how-it-works-text05 {
    color: rgb(12, 12, 12);
    font-style: normal;
    font-weight: 700;
  }
  .how-it-works-category {
    color: white;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-left: var(--dl-space-space-fourunits);
    border-radius: 50px;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: row;
    background-color: #5228F5;
  }
  .how-it-works-headng {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    margin-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .how-it-works-text06 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .how-it-works-text07 {
    color: rgb(238, 233, 254);
    line-height: 24px;
    margin-bottom: 40px;
  }
  .how-it-works-text08 {
    font-size: 19px;
  }
  .how-it-works-text09 {
    font-size: 19px;
  }
  .how-it-works-get-started2 {
    margin-bottom: 0px;
  }
  .how-it-works-get-started2:hover {
    color: black;
    background-color: #ffffff;
  }
  .how-it-works-text11 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .how-it-works-container2 {
    flex: 1;
    height: 100%;
    display: flex;
    align-self: flex-end;
    flex-direction: row;
  }
  .how-it-works-pasted-image {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .how-it-works-row {
    display: flex;
    grid-gap: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: row;
  }
  .how-it-works-category1 {
    flex: 1;
    color: white;
    height: 555px;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
  }
  .how-it-works-headng1 {
    width: 100%;
    height: 320px;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: 0px;
  }
  .how-it-works-text12 {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .how-it-works-text13 {
    color: rgb(30, 30, 30);
    font-size: 16px;
    line-height: 24px;
  }
  .how-it-works-pasted-image1 {
    width: 100%;
    height: 673px;
    margin-bottom: 58px;
  }
  .how-it-works-category2 {
    flex: 1;
    color: white;
    height: 555px;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
  }
  .how-it-works-headng2 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: 0px;
  }
  .how-it-works-text14 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .how-it-works-text15 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
  .how-it-works-pasted-image2 {
    width: 100%;
    object-fit: contain;
  }
  .how-it-works-features {
    width: 100%;
    display: flex;
    padding: var(--dl-space-space-sevenunits);
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    flex-direction: column;
  }
  .how-it-works-text16 {
    font-size: 3rem;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .how-it-works-text19 {
    color: rgb(0, 0, 0);
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
  }
  .how-it-works-text21 {
    font-style: normal;
    font-weight: 800;
  }
  .how-it-works-text23 {
    font-style: normal;
    font-weight: 800;
  }
  .how-it-works-container3 {
    width: 100%;
    display: grid;
    grid-gap: var(--dl-space-space-twounits);
    align-self: center;
    margin-top: var(--dl-space-space-fourunits);
    grid-template-columns: 1fr 1fr 1fr ;
  }
  .how-it-works-component {
    text-decoration: none;
  }
  @media(max-width: 1600px) {
    .how-it-works-banner-advanced-analytics {
      height: 769px;
    }
    .how-it-works-text03 {
      color: rgb(8, 8, 8);
      font-size: 24px;
      line-height: 30px;
    }
  }
  @media(max-width: 991px) {
    .how-it-works-banner-advanced-analytics {
      padding-top: var(--dl-space-space-fourunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      padding-bottom: var(--dl-space-space-fourunits);
    }
    .how-it-works-centered {
      height: 60px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .how-it-works-left {
      margin-left: var(--dl-space-space-halfunit);
    }
    .how-it-works-links {
      display: none;
    }
    .how-it-works-sign-in {
      display: none;
    }
    .how-it-works-get-started {
      display: none;
    }
    .how-it-works-mobile-menu-button {
      display: flex;
    }
    .how-it-works-hero {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .how-it-works-header {
      width: 100%;
      max-width: 1200px;
    }
    .how-it-works-text05 {
      color: rgb(12, 12, 12);
      font-style: normal;
      font-weight: 700;
    }
    .how-it-works-category {
      padding-left: 0px;
      margin-bottom: var(--dl-space-space-threeunits);
      flex-direction: column;
    }
    .how-it-works-headng {
      margin-left: var(--dl-space-space-fourunits);
    }
    .how-it-works-container2 {
      width: 100%;
    }
    .how-it-works-pasted-image {
      height: auto;
    }
    .how-it-works-headng1 {
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-fourunits);
      padding-right: var(--dl-space-space-fourunits);
    }
    .how-it-works-headng2 {
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-fourunits);
      padding-right: var(--dl-space-space-fourunits);
    }
    .how-it-works-text16 {
      text-align: center;
    }
    .how-it-works-text19 {
      color: rgb(0, 0, 0);
      font-size: 1.5rem;
      text-align: center;
    }
    .how-it-works-text21 {
      font-style: normal;
      font-weight: 800;
    }
    .how-it-works-text23 {
      font-style: normal;
      font-weight: 800;
    }
    .how-it-works-container3 {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media(max-width: 767px) {
    .how-it-works-banner-advanced-analytics {
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .how-it-works-centered {
      padding-left: 0px;
      padding-right: 0px;
    }
    .how-it-works-left {
      margin-left: var(--dl-space-space-unit);
    }
    .how-it-works-right {
      margin-right: var(--dl-space-space-unit);
    }
    .how-it-works-sign-in {
      display: none;
    }
    .how-it-works-get-started {
      display: none;
    }
    .how-it-works-hero {
      height: 620px;
      position: relative;
      padding-bottom: 180px;
      background-color: #fff;
    }
    .how-it-works-header {
      height: 100%;
      margin-top: var(--dl-space-space-fourunits);
      justify-content: center;
    }
    .how-it-works-text02 {
      color: rgb(255, 255, 255);
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }
    .how-it-works-text03 {
      color: rgb(238, 233, 254);
      font-size: 16px;
      margin-top: var(--dl-space-space-unit);
      line-height: 24px;
    }
    .how-it-works-get-started1 {
      margin-top: var(--dl-space-space-twounits);
    }
    .how-it-works-how-it-works {
      padding-top: var(--dl-space-space-fourunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      padding-bottom: var(--dl-space-space-fourunits);
    }
    .how-it-works-heading {
      margin-bottom: var(--dl-space-space-threeunits);
    }
    .how-it-works-text05 {
      margin-bottom: 0px;
    }
    .how-it-works-headng {
      padding-bottom: 0px;
  
    }
    .how-it-works-container2 {
      width: 100%;
    }
    .how-it-works-row {
      height: auto;
      flex-direction: column;
    }
    .how-it-works-category1 {
      height: 995px;
      padding-left: 0px;
      margin-bottom: var(--dl-space-space-threeunits);
      flex-direction: column;
    }
    .how-it-works-pasted-image1 {
      height: 685px;
    }
    .how-it-works-features {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .how-it-works-text16 {
      text-align: center;
    }
  }
  @media(max-width: 479px) {
    .how-it-works-headng1 {
      padding: auto;
      margin: auto;
    }
    .how-it-works-headng {
      margin-left: 20px;
      margin-right: 20px;
      padding-bottom: 0px;
  
    }
    .how-it-works-headng2 {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0px;
  
    }
    .how-it-works-hero {
      padding-bottom: 160px;
    }
    .how-it-works-text03 {
      color: #EEE9FE;
    }
    .how-it-works-get-started1 {
      width: 100%;
    }
    .how-it-works-category {
      /* padding-left: var(--dl-space-space-twounits); */
      /* padding-right: var(--dl-space-space-twounits); */
      flex-direction: column;
    }
    .how-it-works-pasted-image1 {
      height: 426px;
    }
    .how-it-works-features {
      padding-top: var(--dl-space-space-twounits);
      padding-left: var(--dl-space-space-unit);
      padding-right: var(--dl-space-space-unit);
      padding-bottom: var(--dl-space-space-twounits);
    }
    .how-it-works-container3 {
      grid-template-columns: 1fr;
    }
  }
  :host { 
    display: contents; 
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
  }
  .home-hero {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: column;
    background-color: #fff;
  }
  .home-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-mobile-navigation {
    top: 0px;
    flex: 0 0 auto;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 150;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.3s;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
  .home-logo {
    width: 64px;
  }
  .home-links {
    gap: var(--dl-space-space-twounits);
    display: flex;
    margin-top: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
  }
  .home-close-mobile-menu {
    top: var(--dl-space-space-oneandhalfunits);
    right: var(--dl-space-space-oneandhalfunits);
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .home-desktop-navigation {
    width: 100%;
    display: flex;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
  }
  .home-centered {
    width: 100%;
    height: 104px;
    display: flex;
    max-width: 1200px;
    box-sizing: initial;
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: 50px;
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
  }
  .home-left {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 38px;
    flex-direction: row;
    padding-bottom: 38px;
  }
  .home-container1 {
    flex: 0 0 auto;
    width: 105px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 4px;
  }
  .home-navlink {
    display: contents;
  }
    .home-image {
    width: 100%;
    height: 110px;
    object-fit: cover;
    text-decoration: none;
  }
  .home-links1 {
    display: flex;
    align-items: center;
    margin-left: 33px;
    flex-direction: row;
  }
  .home-navlink01 {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .home-navlink02 {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .home-navlink03 {
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
  .home-right {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-sign-in {
    font-style: normal;
    font-weight: 700;
    margin-right: 20px;
    text-decoration: none;
  }
  .home-navlink04 {
    display: contents;
  }
.home-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #fff;
  
  color: #000;
}
.home-get-started:hover {
  background-color: #5228F5;
  color: #fff!important;
}
.home-text03 {
  font-style: normal;
  font-weight: 600;
}
  .home-burger-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .home-mobile-menu-button {
    width: 40px;
    height: 40px;
    display: none;
  }
  .home-container3 {
    display: contents;
  }
  .home-header {
    display: flex;
    /* margin-top: 140px; */
    align-items: center;
    flex-direction: column;
  }
  .home-text04 {
    color: rgb(16, 16, 16);
    font-size: 72px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 80px;
  }
  .home-text05 {
    color: rgb(8, 8, 8);
    font-size: 20px;
    max-width: 600px;
    margin-top: 16px;
    text-align: center;
    line-height: 30px;
  }
  .home-navlink05 {
    display: contents;
  }
  .home-get-started1 {
    color: white;
    cursor: pointer;
    display: flex;
    margin-top: 40px;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    border-radius: 56px;
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    text-decoration: none;
    background-color: #000000;
  }
  .home-get-started1:hover {
    color: black;
    background-color: #ffffff;
  }
  .home-text06 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .home-dashboard-preview {
    top: 650px;
    display: flex;
    z-index: 100;
    position: absolute;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    border-color: #3a0cf5;
    border-width: 30px;
    border-radius: 100px;
    flex-direction: column;
    background-color: #fff;
  }
  .home-outline {
    display: flex;
    align-items: center;
    border-color: #7350f7;
    border-width: 20px;
    border-radius: 70px;
    flex-direction: column;
    background-color: #fff;
  }
  .home-image1 {
    width: 900px;
    z-index: 10;
    user-select: none;
  }
  .home-features {
    width: 100%;
    height: 1349px;
    display: flex;
    z-index: 1;
    align-items: center;
    padding-top: 400px;
    padding-bottom: 500px;
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: column;
    background-color: #fff;
  }
  .home-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-text07 {
    font-size: 56px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    line-height: 72px;
  }
  .home-text10 {
    font-size: 24px;
    margin-top: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
  }
  .home-cards {
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin-top: 80px;
    align-items: center;
    flex-direction: column;
  }
  .home-container4 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-icon2 {
    width: 32px;
    height: 30px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text14 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text15 {
    line-height: 24px;
  }
  .home-publish {
    height: initial;
  }
  .home-icon3 {
    width: 30px;
    height: 30px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text16 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text17 {
    line-height: 24px;
  }
  .home-container5 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-sixunits);
    flex-direction: row;
  }
  .home-icon4 {
    width: 35px;
    height: 30px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text18 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 16px;
  }
  .home-text19 {
    line-height: 24px;
  }
  .home-icon5 {
    width: 30px;
    height: 30px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text20 {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text21 {
    line-height: 24px;
  }
  .home-statistics {
    width: 100%;
    height: 264px;
    display: flex;
    align-items: center;
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: row;
    justify-content: center;
    background-color: #5228F5;
  }
  .home-container6 {
    width: 100%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-banners {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-banner-manage {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-container7 {
    width: 100%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-left1 {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-right: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .home-text22 {
    font-size: 24px;
  }
  .home-text23 {
    text-align: left;
  }
  .home-text24 {
    color: rgb(0, 0, 0);
    line-height: 24px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-navlink06 {
    display: contents;
  }
  .home-get-started2 {
    transition: 0.3s;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-get-started2:hover {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-template-blue-bg);
  }
  .home-text25 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .home-image-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-navlink07 {
    display: contents;
  }
  .home-cards-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    text-decoration: none;
  }
  .home-banner-advanced-analytics {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
    background-color: #EFF0F2;
  }
  .home-centered-container {
    width: 100%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
  }
  .home-image-container1 {
    flex: 1;
    display: flex;
  }
  .home-navlink08 {
    display: contents;
  }
  .home-cards-image1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-decoration: none;
  }
  .home-right1 {
    flex: 1;
    display: flex;
    margin-left: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .home-text26 {
    font-size: 24px;
  }
  .home-text27 {
    text-align: left;
  }
  .home-category {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-text28 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text29 {
    color: rgb(0, 0, 0);
    line-height: 24px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-navlink09 {
    display: contents;
  }
  .home-get-started3 {
    width: 186px;
    transition: 0.3s;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-get-started3:hover {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-template-blue-bg);
  }
  .home-text30 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .home-banner {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-sevenunits);
    padding-right: var(--dl-space-space-sevenunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-container8 {
    width: 100%;
    display: flex;
    max-width: 1200px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-left2 {
    flex: 1;
    display: flex;
    align-items: flex-start;
    margin-right: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .home-text31 {
    color: rgb(82, 40, 245);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 24px;
  }
  .home-text32 {
    text-align: left;
  }
  .home-text33 {
    color: rgb(0, 0, 0);
    line-height: 24px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-navlink10 {
    display: contents;
  }
  .home-get-started4 {
    transition: 0.3s;
    margin-bottom: 0;
    text-decoration: none;
  }
  .home-get-started4:hover {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-template-blue-bg);
  }
  .home-text34 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .home-image-container2 {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-cards-image2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .home-action-bar {
    width: 100%;
    display: flex;
    padding: 120px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #eff0f2;
  }
  .home-action {
    flex: 1;
    width: 100%;
    display: flex;
    max-width: 1300px;
    align-items: flex-end;
    border-radius: 50px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5228F5;
  }
  
  .home-heading {
    width: 616px;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-sevenunits);
    padding-left: var(--dl-space-space-sevenunits);
    flex-direction: column; 
    padding-bottom: var(--dl-space-space-sevenunits);
  }
  .home-text35 {
    color: var(--dl-color-gray-white);
    text-align: left;
  }
  .home-text36 {
    color: rgb(238, 233, 254);
    line-height: 24px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-navlink11 {
    display: contents;
  }
  .home-get-started5 {
    margin-bottom: 0px;
    text-decoration: none;
  }
  .home-text37 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .home-image2 {
    width: 576px;
    height: 517px;
    object-fit: cover;
  }
  .home-images {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  @media(max-width: 1345px){
    .home-action {
      width: 1029px;
      align-items: center;
    }
  }
  @media(max-width: 1125px) {
    .home-action {
      width: 929px;
      align-items: center;
    }
  }
@media(max-width: 991px) {
    
 .home-image {
      margin-left: 0px;
      height:63px;
    width: 60px;
    }

    .home-hero {
      height: 600px;
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-close-mobile-menu {
      align-items: center;
      justify-content: center;
    }
    .home-desktop-navigation {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-centered {
      height: 60px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .home-left {
      margin-left: var(--dl-space-space-halfunit);
    }
    .home-links1 {
      display: none;
    }
    .home-sign-in {
      display: none;
    }
    .home-get-started {
      display: none;
    }
    .home-mobile-menu-button {
      display: flex;
    }
    .home-header {
      width: 100%;
      max-width: 1200px;
    }
    .home-image1 {
      width: 100%;
    }
    .home-features {
      height: 1193px;
      padding-top: 260px;
    }
    .home-title {
      width: 100%;
      max-width: 1200px;
    }
    .home-text07 {
      font-size: 36px;
      line-height: 40px;
    }
    .home-text10 {
      font-size: 20px;
      margin-top: var(--dl-space-space-unit);
      line-height: 30px;
    }
    .home-cards {
      margin-top: var(--dl-space-space-fiveunits);
    }
    .home-text15 {
      line-height: 21px;
    }
    .home-text17 {
      line-height: 21px;
    }
    .home-text19 {
      line-height: 21px;
    }
    .home-text20 {
      font-size: 24px;
    }
    .home-text21 {
      line-height: 21px;
    }
    .home-statistics {
      height: 800px;
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-container6 {
      height: 100%;
      flex-direction: column;
    }
    .home-banner-manage {
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-left1 {
      margin-right: var(--dl-space-space-threeunits);
    }
    .home-cards-image {
      width: 360px;
    }
    .home-banner-advanced-analytics {
      padding-top: var(--dl-space-space-fourunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      padding-bottom: var(--dl-space-space-fourunits);
    }
    .home-action {
      width: 779px;
      flex-direction: column;
    }
    .home-heading {
      width: 716px;
      padding-top: var(--dl-space-space-fourunits);
      padding-left: var(--dl-space-space-threeunits);
      padding-right: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-text35 {
      font-size: 36px;
      line-height: 36px;
    }
    .home-image2 {
      display: none;
      visibility: hidden;
    }
  }
  @media(max-width: 767px) {
    .home-image {
      margin-left: 0px;
      
    }
    .home-hero {
      height: 520px;
      position: relative;
      padding-bottom: 180px;
      background-color: #fff;
    }
    .home-desktop-navigation {
      padding-left: 0px;
      padding-right: 0px;
    }
    .home-centered {
      padding-left: 0px;
      padding-right: 0px;
    }
    .home-left {
      margin-left: var(--dl-space-space-unit);
    }
    .home-right {
      margin-right: var(--dl-space-space-unit);
    }
    .home-sign-in {
      display: none;
    }
    .home-get-started {
      display: none;
    }
    .home-header {
      height: 100%;
      margin-top: var(--dl-space-space-fourunits);
      justify-content: center;
    }
    .home-text04 {
      color: rgb(255, 255, 255);
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }
    .home-text05 {
      color: rgb(238, 233, 254);
      font-size: 16px;
      margin-top: var(--dl-space-space-unit);
      line-height: 24px;
    }
    .home-get-started1 {
      margin-top: var(--dl-space-space-twounits);
    }
    .home-dashboard-preview {
      top: 520px;
      width: 90%;
      border-width: 10px;
      border-radius: 45px;
    }
    .home-outline {
      border-width: 10px;
      border-radius: 35px;
    }
    .home-image1 {
      width: 100%;
    }
    .home-features {
      height: 1653px;
      padding-top: 350px;
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-text07 {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
    }
    .home-container4 {
      gap: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
    }
    .home-text14 {
      font-size: 24px;
    }
    .home-text15 {
      font-size: 14px;
    }
    .home-publish {
      margin-left: 0px;
    }
    .home-text16 {
      font-size: 24px;
    }
    .home-text17 {
      font-size: 14px;
    }
    .home-container5 {
      gap: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
    }
    .home-analyze {
      margin-right: 0px;
    }
    .home-text18 {
      font-size: 24px;
    }
    .home-text19 {
      font-size: 14px;
    }
    .home-text21 {
      font-size: 14px;
    }
    .home-statistics {
      height: 100%;
    }
    .home-container6 {
      gap: var(--dl-space-space-fourunits);
      justify-content: center;
    }
    .home-banner-manage {
      padding-top: var(--dl-space-space-fourunits);
      padding-bottom: var(--dl-space-space-fourunits);
    }
    .home-container7 {
      flex-direction: column;
    }
    .home-left1 {
      margin-right: 0px;
    }
    .home-text23 {
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text24 {
      line-height: 24px;
      margin-bottom: var(--dl-space-space-twounits);
    }
    .home-text25 {
      font-size: 16px;
    }
    .home-image-container {
      justify-content: center;
    }
    .home-cards-image {
      margin-top: var(--dl-space-space-threeunits);
    }
    .home-banner-advanced-analytics {
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-centered-container {
      flex-direction: column-reverse;
    }
    .home-right1 {
      width: 727px;
      margin-left: 0px;
    }
    .home-text27 {
      font-size: 28px;
      text-align: left;
      line-height: 26px;
      margin-bottom: var(--dl-space-space-twounits);
    }
    .home-text28 {
      font-size: 20px;
    }
    .home-text29 {
      line-height: 24px;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text30 {
      font-size: 16px;
    }
    .home-banner {
      padding-top: var(--dl-space-space-fourunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      padding-bottom: var(--dl-space-space-fourunits);
    }
    .home-container8 {
      flex-direction: column;
    }
    .home-left2 {
      margin-right: 0px;
    }
    .home-action-bar {
      padding-top: var(--dl-space-space-fourunits);
      padding-left: var(--dl-space-space-fourunits);
      padding-right: var(--dl-space-space-fourunits);
      padding-bottom: var(--dl-space-space-fourunits);
    }
    .home-action {
      width: 529px;
      align-items: center;
    }
    .home-heading {
      width: 416px;
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-text35 {
      font-size: 28px;
      align-self: center;
      text-align: left;
    }
    .home-text36 {
      align-self: center;
    }
    .home-get-started5 {
      align-self: center;
    }
    .home-text37 {
      color: var(--dl-color-gray-white);
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
    }
    .home-images {
      justify-content: center;
    }
    .home-image2 {
      display: none;
      visibility: hidden;
    }
  }
  @media(max-width: 479px) {
    .home-image {
      margin-left: 0px;
      
    }
    .home-hero {
      padding-bottom: 160px;
      background-color: #fff;
    }
    .home-logo {
      margin-left: 0px;
    }
    .home-icon {
      align-items: center;
      justify-content: center;
    }
    .home-text05 {
      color: #EEE9FE;
    }
    .home-get-started1 {
      width: 100%;
    }
    .home-dashboard-preview {
      top: 500px;
    }
    .home-features {
      padding-top: 200px;
    }
    .home-cards {
      margin-top: var(--dl-space-space-threeunits);
      margin-bottom: var(--dl-space-space-threeunits);
    }
    .home-container4 {
      gap: var(--dl-space-space-oneandhalfunits);
      margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-container5 {
      gap: var(--dl-space-space-oneandhalfunits);
      margin-bottom: 0px;
    }
    .home-analyze {
      margin-bottom: 0px;
    }
    .home-statistics {
      height: 500px;
    }
    .home-text24 {
      line-height: 24px;
    }
    .home-cards-image {
      width: 100%;
      margin-top: var(--dl-space-space-twounits);
    }
    .home-right1 {
      width: 450px;
      align-self: center;
    }
    .home-action-bar {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-action {
      width: 339px;
      height: 300px;
    }
    .home-heading {
      width: 316px;
      height: 322px!important;
    }
    .home-image2 {
      display: none;
      visibility: hidden;
    }
  }
  