<div class="how-it-works-container">
  <div class="home-hero">
    <div class="home-menu">
      <div id="mobile-menu" class="home-mobile-navigation" [style]="'transform : translateX('+isActive+'%);'">
        <a routerLink="/" class="home-navlink">
          <h1 style="color: #f93">Nirmaan Law</h1>
        </a>

        <div class="home-links">

          <a routerLink="/solutions" class="home-navlink01 Link1">
            Solutions
          </a>
          <a routerLink="/how-it-works" class="home-navlink01 Link1">
            How it works
          </a>
          <a routerLink="/get-started" class="home-navlink03" style="color: #f93">
            Book a Demo
          </a>
        </div>
        <div id="close-mobile-menu" class="home-close-mobile-menu" (click)="closeMenu()">
          <svg viewBox="0 0 804.5714285714286 1024" class="home-icon">
            <path
              d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z">
            </path>
          </svg>
        </div>
      </div>
      <div class="home-desktop-navigation">
        <nav class="home-centered" style="background-color: black!important; ">
          <div class="home-left">
            <div class="home-container1">
              <a routerLink="/" class="home-navlink">
                <img alt="image" src="/assets/law_logo_low.png" class="home-image" /> </a>
            </div>
            <div class="home-links1">
              <div class=" dropdown">
                <a routerLink="/solutions" style="text-decoration: none;">
                  <span class="home-navlink03 Link nav-link dropdown-toggle" id="dropdownMenuButton">Solutions</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" routerLink="/case-management"><b>Case Management</b></a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/event-handling"><b>Appointments and Events</b></a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/tasks"><b>Tasks Management
                      </b></a></li>

                  <li><a class="dropdown-item" routerLink="/payment-handling"><b>HR and Payroll</b></a>
                  </li>

                  <li><a class="dropdown-item" routerLink="/leave-management"><b>Leave
                        Management</b></a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/permissions"><b>Permissions and
                        Analytics</b></a>
                  </li>
                </ul>
              </div>
              <!-- <a routerLink="/how-it-works" class="home-navlink02 Link">
                How it works
              </a> -->

              <!-- <a routerLink="/tutorials" class="home-navlink03 Link">Tutorials</a> -->

              <a routerLink="/how-it-works" class="home-navlink02 Link">
                How it works
              </a>

            </div>
          </div>
          <div class="home-right">
            <a routerLink="/get-started" class="home-navlink04">
              <div class="home-get-started">
                <span class="home-text03">Book a Demo</span>
              </div>
            </a>
            <a id="open-mobile-menu" class="home-burger-menu" (click)="openMenu()">
              <img alt="pastedImage" src="/assets/pastedimage-yxbd.svg" class="home-mobile-menu-button" />
            </a>
          </div>
        </nav>
      </div>

    </div>
    <section class="home-header">
      <header class="how-it-works-header">
        <h1 class="how-it-works-text02" style="color: black!important;">How it works</h1>
        <p class="how-it-works-text03" style="color: black!important;">
          3 step process to get set and ready to go.
        </p>

      </header>
      <a routerLink="/get-started" class="home-navlink05">
        <div class="home-get-started1">
          <span class="home-text06">Get started</span>
        </div>
      </a>
      <br>

    </section>
  </div>
  <section class="how-it-works-how-it-works">
    <div class="how-it-works-centered-container">
      <div class="how-it-works-heading">
        <span class="how-it-works-text05 title">Managing Cases has never been this easier
        </span>
      </div>
      <div class="how-it-works-category">
        <div class="how-it-works-headng">
          <span class="how-it-works-text06">
            1 — Sign up
            <span [innerHTML]="rawiw22"></span>
          </span>
          <span class="how-it-works-text07">
            <span class="how-it-works-text08">
              Book a Demo and schedule a meeting with us to review the capabilities of the software and if it fits your
              needs.

            </span>

            <br />
          </span>
          <div class="how-it-works-get-started2 template-button">
            <a routerLink="/get-started" class="how-it-works-navlink">
              <span class="how-it-works-text11">Get started</span>
            </a>
          </div>
        </div>
        <div class="how-it-works-container2">
          <img alt="pastedImage" src="/assets/pastedimage-k5xi%201-1200w.png" class="how-it-works-pasted-image" />
        </div>
      </div>
      <div class="how-it-works-row">
        <div class="how-it-works-category1">
          <div class="how-it-works-headng2">
            <span class="how-it-works-text12">2 — Implementation Process</span>
            <span class="how-it-works-text13">
              We will help you setup the Nirmaan Law software on your domain and white label it as per your company name
              and email details.

            </span>
          </div>
          <img alt="pastedImage" src="/assets/analysis with padding-01-01.png" class="how-it-works-pasted-image2" />
        </div>
        <div class="how-it-works-category2">
          <div class="how-it-works-headng2">
            <span class="how-it-works-text14">3 — Training and Feature Exploration
            </span>
            <span class="how-it-works-text15">
              The software has been designed to be understood by everyone but we do provide one free demo on demand.
            </span>
          </div>
          <img alt="pastedImage" src="/assets/crop.png" class="how-it-works-pasted-image2" />
        </div>
      </div>
    </div>
  </section>
  <div class="how-it-works-features">
    <h1 class="how-it-works-text16">
      <span>Our features</span>
      <br />
    </h1>
    <span class="how-it-works-text19">
      <span>

        Nirmaan Law offers an all-in-one advocate management suite, accessible on your tablet, phone, or computer,
        providing comprehensive solutions for legal professionals. From client management to case tracking, streamline
        your legal practice with ease, anytime, anywhere.

      </span>
    </span>
    <div class="how-it-works-container3">
      <feature-card32 title="Case Management" action="Comprehensive case management with intuitive tools, collaboration for efficiency.
      " rootClassName="rootClassName6" class="how-it-works-component" cardId="case"></feature-card32>
      <feature-card32 title="Appointment Handling" action="Simplified scheduling, manage court dates, events, and meetings efficiently.
      " rootClassName="rootClassName7" cardId="appointment"></feature-card32>
      <feature-card32 title="Task Management" action="Seamless task organization, assignments, and tracking for better collaboration.
      " rootClassName="rootClassName8" cardId="tasks"></feature-card32>
      <feature-card32 title="Human Resources"
        action="Simplify HR, attendance, and payroll for smooth operations and compliance."
        rootClassName="rootClassName9" cardId="hr"></feature-card32>
      <feature-card32 title="Leave Management" action="Streamline leave management, simplify tracking, ensure smooth operations.
        " rootClassName="rootClassName10" cardId="leave"></feature-card32>
      <feature-card32 title="Permissions Control" action="Granular access control ensures security, compliance, custom roles, permissions.
        " rootClassName="rootClassName11" cardId="permissions"></feature-card32>

      <feature-card32 title="Reports & Analytics"
        action=" Powerful tools for data management, analysis, and seamless exporting." rootClassName="rootClassName12"
        cardId="reports"></feature-card32>

    </div>
  </div>
  <app-footer [isHome]="false"></app-footer>
</div>