<div class="how-it-works-container">
  <div class="home-hero">
    <div class="home-menu">
      <div id="mobile-menu" class="home-mobile-navigation" [style]="'transform : translateX('+isActive+'%);'">
        <a routerLink="/" class="home-navlink">
          <h1 style="color: #f93">Nirmaan 360</h1>
        </a>

        <div class="home-links">

          <a routerLink="/solutions" class="home-navlink01 Link">
            Solutions
          </a>

          <a routerLink="/pricing" class="home-navlink03 Link">Pricing</a>

          <a (click)="showData()" class="home-navlink03 Link dropdown-toggle">More</a>
          <a *ngIf="clickMore" routerLink="/how-it-works" class="home-navlink02 Link">
            How it works
          </a>
          <a *ngIf="clickMore" routerLink="/tutorials" class="home-navlink03 Link">Tutorials</a>
          <a *ngIf="clickMore" routerLink="/legal" class="home-navlink03 Link">Legal</a>
          <a routerLink="/get-started" class="home-navlink03 Link">Sign Up</a>
          <a href="https://app.nirmaan360.com" target="_blank" class="home-navlink03" style="color: #f93">
            Log In
          </a>
        </div>
        <div id="close-mobile-menu" class="home-close-mobile-menu" (click)="closeMenu()">
          <svg viewBox="0 0 804.5714285714286 1024" class="home-icon">
            <path
              d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z">
            </path>
          </svg>
        </div>
      </div>
      <div class="home-desktop-navigation">
        <nav class="home-centered">
          <div class="home-left">
            <div class="home-container1">
              <a routerLink="/" class="home-navlink">
                <img alt="image" src="/assets/nirmaan%20360caviar%20dreams%20white-01-200h1.png" class="home-image" />
              </a>
            </div>
            <div class="home-links1">
              <div class=" dropdown">
                <a routerLink="/solutions" style="text-decoration: none;">
                  <span routerLink="/solutions" class="home-navlink03 Link nav-link dropdown-toggle"
                    id="dropdownMenuButton">Solutions</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" routerLink="/inventory"><b>Material Management</b></a>
                  </li>
                  <li><a class="dropdown-item" routerLink="/tasks"><b>Tasks Management</b></a></li>
                  <li><a class="dropdown-item" routerLink="/labour"><b>Labour Management</b></a></li>

                  <li><a class="dropdown-item" routerLink="/daily-reports"><b>Daily Reports</b></a>
                  </li>

                  <li><a class="dropdown-item" routerLink="/payment-handling"><b>Payment
                        Handling</b></a>
                  </li>
                </ul>
              </div>
              <!-- <a routerLink="/how-it-works" class="home-navlink02 Link">
                How it works
              </a> -->
              <a routerLink="/pricing" class="home-navlink03 Link">Pricing</a>
              <!-- <a routerLink="/tutorials" class="home-navlink03 Link">Tutorials</a> -->

              <div class=" dropdown">
                <a class="home-navlink03 Link nav-link dropdown-toggle" id="dropdownMenuButton1">
                  <span>More</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item pt-2 pb-2" routerLink="/how-it-works"><b>How it
                        Works</b></a></li>
                  <li><a class="dropdown-item pt-2 pb-2" routerLink="/tutorials"><b>Tutorials</b></a></li>
                  <li><a class="dropdown-item pt-2 pb-2" routerLink="/legal"><b>Legal</b></a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="home-right">
            <a routerLink="/get-started" class="home-sign-in Link">Sign Up</a>
            <a href="https://app.nirmaan360.com" target="_blank" class="home-navlink04">
              <div class="home-get-started">
                <span class="home-text03">Log In</span>
              </div>
            </a>
            <a id="open-mobile-menu" class="home-burger-menu" (click)="openMenu()">
              <img alt="pastedImage" src="/assets/pastedimage-yxbd.svg" class="home-mobile-menu-button" />
            </a>
          </div>
        </nav>
      </div>

    </div>
    <section class="home-header">
      <header class="how-it-works-header">
        <h1 class="how-it-works-text02" style="color: black!important;">How it works</h1>
        <p class="how-it-works-text03" style="color: black!important;">
          3 step process to get set and ready to go.
        </p>

      </header>
      <a routerLink="/get-started" class="home-navlink05">
        <div class="home-get-started1">
          <span class="home-text06">Get started</span>
        </div>
      </a>
      <br>
      <iframe width="100%" height="256" src="https://www.youtube.com/embed/2NKVEAcV-DE?si=T9aeg3j1pphAl5Ww"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    </section>
  </div>
  <section class="how-it-works-how-it-works">
    <div class="how-it-works-centered-container">
      <div class="how-it-works-heading">
        <span class="how-it-works-text05 title">
          Managing Construction Projects has never been this easier
        </span>
      </div>
      <div class="how-it-works-category">
        <div class="how-it-works-headng">
          <span class="how-it-works-text06">
            1 — Sign up
            <span [innerHTML]="rawiw22"></span>
          </span>
          <span class="how-it-works-text07">
            <span class="how-it-works-text08">
              You will receive an email ID and Password to sign in the platform
              from 
            </span>
            <span class="how-it-works-text09">
              Nirmaan360&apos;s backend team after you sign up either for a
              demo/paid version/enterprise version.
            </span>
            <br />
          </span>
          <div class="how-it-works-get-started2 template-button">
            <a routerLink="/get-started" class="how-it-works-navlink">
              <span class="how-it-works-text11">Get started</span>
            </a>
          </div>
        </div>
        <div class="how-it-works-container2">
          <img alt="pastedImage" src="/assets/pastedimage-k5xi%201-1200w.png" class="how-it-works-pasted-image" />
        </div>
      </div>
      <div class="how-it-works-row">
        <div class="how-it-works-category1">
          <div class="how-it-works-headng2">
            <span class="how-it-works-text12">2 — Create a Project</span>
            <span class="how-it-works-text13">
              Sign in to the platform and explore the demo project. After
              understanding basic functioning of the platform - Create your Own
              Project(s) and Add Stakeholders (under Project Contacts module)
              with whom you want to contribute in the project.
            </span>
          </div>
          <img alt="pastedImage" src="/assets/analysis with padding-01-01.png" class="how-it-works-pasted-image2" />
        </div>
        <div class="how-it-works-category2">
          <div class="how-it-works-headng2">
            <span class="how-it-works-text14">3 — Explore Features</span>
            <span class="how-it-works-text15">
              After creating projects and adding stakeholders collaborate
              seamlessly with them by using tools like Task Management, Inventory Control, Daily Progress Reporting,
              Labour Management, and Payment Tracking.
            </span>
          </div>
          <img alt="pastedImage" src="/assets/crop.png" class="how-it-works-pasted-image2" />
        </div>
      </div>
    </div>
  </section>
  <div class="how-it-works-features">
    <h1 class="how-it-works-text16">
      <span>Our features</span>
      <br />
    </h1>
    <span class="how-it-works-text19">
      <span>
        Nirmaan360 is an all-in-one construction management suite for your
        tablet, phone or computer. With plans starting at 
      </span>
      <span class="how-it-works-text21">₹</span>
      <span><span [innerHTML]="rawfl3r"></span></span>
      <span class="how-it-works-text23">4250/month</span>
      <span>
        , it is the most affordable management software for real estate
        stakeholders.
      </span>
    </span>
    <div class="how-it-works-container3">
      <feature-card32 title="Project Files" action="Central Repository to store everything for easy access"
        rootClassName="rootClassName6" class="how-it-works-component" cardId="project-files"></feature-card32>
      <feature-card32 title="Manage Tasks" action="Manage all coordination related steps in your project"
        rootClassName="rootClassName7" cardId="manage-tasks"></feature-card32>
      <feature-card32 title="Site Photos" action="Capture construction site's progress in a snap."
        rootClassName="rootClassName8" cardId="site-photos"></feature-card32>
      <feature-card32 title="Plans" action="Work with most up-to-date design plans from anywhere."
        rootClassName="rootClassName9" cardId="plans"></feature-card32>
      <feature-card32 title="Scheduling"
        action="Keeps the project on track in a real-time, shared scheduling ecosystem." rootClassName="rootClassName10"
        cardId="scheduling"></feature-card32>
      <feature-card32 title="Daily Reports"
        action="Create a detailed archive of a project’s progress without relying on memory."
        rootClassName="rootClassName11" cardId="daily-reports"></feature-card32>
      <feature-card32 title="Chats" action="Elevate teamwork effortlessly with our Chats tool"
        rootClassName="rootClassName12" cardId="chats"></feature-card32>
      <feature-card32 title="Petty Cash"
        action="Get a clear overview of your spending patterns with detailed breakdowns" rootClassName="rootClassName13"
        cardId="expense"></feature-card32>
      <feature-card32 title="Inventory"
        action="Keep track of materials efficiently, ensuring smooth operations and cost control."
        rootClassName="rootClassName14" cardId="inventory"></feature-card32>
      <feature-card32 title="Payments"
        action="Efficiently track receivables, payables, allocate barter, and set reminders."
        rootClassName="rootClassName15" cardId="payments"></feature-card32>
      <feature-card32 title="Labour"
        action="From clock-in to paycheck, labour attendance simplifies tracking, ensuring efficiency in project management."
        rootClassName="rootClassName16" cardId="labour"></feature-card32>
      <feature-card32 title="Enquiries" action="Capture leads, schedule follow-ups for property purchases efficiently."
        rootClassName="rootClassName17" cardId="enquiries"></feature-card32>
    </div>
  </div>
  <app-footer [isHome]="false"></app-footer>
</div>