<div class="how-it-works-container">
    <div class="home-hero">
        <div class="home-menu">
            <div id="mobile-menu" class="home-mobile-navigation" [style]="'transform : translateX('+isActive+'%);'">
                <a routerLink="/" class="home-navlink">
                    <h1 style="color: #f93">Nirmaan 360</h1>
                </a>

                <div class="home-links">

                    <a routerLink="/solutions" class="home-navlink01 Link">
                        Solutions
                    </a>

                    <a routerLink="/how-it-works" class="home-navlink01 Link">
                        How it works
                    </a>

                    <a routerLink="/get-started" class="home-navlink03" style="color: #f93">
                        Book a Demo
                    </a>
                </div>
                <div id="close-mobile-menu" class="home-close-mobile-menu" (click)="closeMenu()">
                    <svg viewBox="0 0 804.5714285714286 1024" class="home-icon">
                        <path
                            d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="home-desktop-navigation">
                <nav class="home-centered">
                    <div class="home-left">
                        <div class="home-container1">
                            <a routerLink="/" class="home-navlink">
                                <img alt="image" src="/assets/nirmaan%20360caviar%20dreams%20white-01-200h1.png"
                                    class="home-image" />
                            </a>
                        </div>
                        <div class="home-links1">
                            <div class=" dropdown">
                                <a routerLink="/solutions" style="text-decoration: none;">
                                    <span routerLink="/solutions" class="home-navlink03 Link nav-link dropdown-toggle"
                                        id="dropdownMenuButton">Solutions</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" routerLink="/inventory"><b>Material Management</b></a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="/tasks"><b>Tasks Management</b></a></li>
                                    <li><a class="dropdown-item" routerLink="/labour"><b>Labour Management</b></a></li>

                                    <li><a class="dropdown-item" routerLink="/daily-reports"><b>Daily Reports</b></a>
                                    </li>

                                    <li><a class="dropdown-item" routerLink="/payment-handling"><b>Payment
                                                Handling</b></a>
                                    </li>
                                </ul>
                            </div>
                            <a routerLink="/how-it-works" class="home-navlink02 Link">
                                How it works
                            </a>

                            <!-- <a routerLink="/tutorials" class="home-navlink03 Link">Tutorials</a> -->



                        </div>
                    </div>
                    <div class="home-right">
                        <a routerLink="/get-started" class="home-navlink04">
                            <div class="home-get-started">
                                <span class="home-text03">Book a Demo</span>
                            </div>
                        </a>
                        <a id="open-mobile-menu" class="home-burger-menu" (click)="openMenu()">
                            <img alt="pastedImage" src="/assets/pastedimage-yxbd.svg" class="home-mobile-menu-button" />
                        </a>
                    </div>
                </nav>
            </div>

        </div>
        <section class="home-header">
            <header class="how-it-works-header">
                <h2 style="text-align: center; margin-bottom: 5px;" class="how-it-works-text02"
                    style="color: black!important;">Tutorials
                </h2>
                <p class="how-it-works-text03" style="color: black!important;">
                    Short and sweet tutorials for quick understanding.
                </p>

            </header>
            <a (click)="handleClick()" class="home-navlink05">
                <div class="home-get-started1">
                    <span class="home-text06">Let's Get Started !</span>
                </div>
            </a>
            <br>
            <!-- <iframe width="100%" height="256" src="https://www.youtube.com/embed/2NKVEAcV-DE?si=T9aeg3j1pphAl5Ww"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe> -->

        </section>
    </div>
    <div class="how-it-works-features" id="tutorial">
        <h2 style="text-align: center; margin-bottom: 5px;" class="how-it-works-text16">
            <span>Explore Tutorials</span>
            <br />
        </h2>

        <div class="how-it-works-container3">
            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">Nirmaan360 Overview</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/2NKVEAcV-DE?si=T9aeg3j1pphAl5Ww"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen class="how-it-works-component"></iframe>
            </div>
            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">How to Manage People</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/lKcibCtbkG4?si=ebEo0k_IbNAFOR1n"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen class="how-it-works-component"></iframe>
            </div>
            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">Schedule</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/dkjncZkLNAA?si=fBgD8hk88JZ8hhmt"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>

            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">Manage Plans</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/Je-5Z-XjW2E?si=3JumBHKzIAfNA1kk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen class="how-it-works-component"></iframe>
            </div>

            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">Site Photos</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/dHi8kQjWl7c?si=BDvMrF3nkmZe1qPs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen class="how-it-works-component"></iframe>
            </div>
            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">Files</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/G8f7wEgtXK0?si=eXXgnyM-aVsit1ug"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen class="how-it-works-component"></iframe>
            </div>
            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">Daily Reports</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/bfCz6QvMi88?si=YvO6QPYIx77Kspr5"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen class="how-it-works-component"></iframe>
            </div>
            <div>
                <h2 style="text-align: center; margin-bottom: 5px;">Task Management</h2>
                <iframe width="100%" height="232" src="https://www.youtube.com/embed/dAAxmMV7B1A?si=q40T8vFPWwVwRkiW"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen class="how-it-works-component"></iframe>
            </div>

        </div>
    </div>
    <app-footer [isHome]="false"></app-footer>
</div>