<div class="home-container">
  <div class="solutions-banner-advanced-analytics">
    <div class="home-menu">
      <div id="mobile-menu" class="home-mobile-navigation" [style]="'transform : translateX('+isActive+'%);'">
        <a routerLink="/" class="home-navlink">
          <h1 style="color: #f93">Nirmaan Law</h1>
        </a>

        <div class="home-links">

          <a routerLink="/solutions" class="home-navlink01 Link">
            Solutions
          </a>
          <a routerLink="/how-it-works" class="home-navlink01 Link">
            How it works
          </a>



          <a routerLink="/get-started" class="home-navlink03" style="color: #f93">
            Book a Demo
          </a>
        </div>
        <div id="close-mobile-menu" class="home-close-mobile-menu" (click)="closeMenu()">
          <svg viewBox="0 0 804.5714285714286 1024" class="home-icon">
            <path
              d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z">
            </path>
          </svg>
        </div>
      </div>
      <div class="home-desktop-navigation">
        <nav class="home-centered" style="background-color: black!important; ">
          <div class="home-left">
            <div class="home-container1">
              <a routerLink="/" class="home-navlink">
                <img alt="image" src="/assets/nirmaan%20360caviar%20dreams%20white-01-200h1.png" class="home-image" />
              </a>
            </div>
            <div class="home-links1">

              <!-- <a routerLink="/how-it-works" class="home-navlink02 Link">
                How it works
              </a> -->

              <!-- <a routerLink="/tutorials" class="home-navlink03 Link">Tutorials</a> -->

              <a routerLink="/solutions" class="home-navlink02 Link">
                Solutions
              </a>
              <a routerLink="/how-it-works" class="home-navlink02 Link">
                How it works
              </a>

            </div>
          </div>
          <div class="home-right">
            <a routerLink="/get-started" class="home-navlink04">
              <div class="home-get-started">
                <span class="home-text03">Book a Demo</span>
              </div>
            </a>
            <a id="open-mobile-menu" class="home-burger-menu" (click)="openMenu()">
              <img alt="pastedImage" src="/assets/pastedimage-yxbd.svg" class="home-mobile-menu-button" />
            </a>
          </div>
        </nav>
      </div>

    </div>
    <section class="solutions-hero">
      <header class="solutions-header">
        <h1 class="solutions-text01">Solutions</h1>
        <p class="solutions-text02">
          Revolutionize your legal business with Nirmaan Law.
        </p>
      </header>
    </section>
  </div>
  <div class="solutions-banner">
    <h1 class="solutions-text04 fs-3">In legal workplaces, fragmented data management, inefficient communication and
      collaboration, poor case management, paper based client relationship management, and limited employee management
      leads to delays and cost overruns.
    </h1>
    <span class="solutions-text04">
      <span class="solutions-text05">
        Nirmaan Law offers centralized communication, efficient resource tracking, document management, real-time
        insights, and enhanced collaboration. It streamlines case tracking, including tasks management, HR and payroll,
        leave handling, and client management. This ensures timely completion and cost control by optimizing workflows
        and providing a single platform for all your cases </span>
      <span><span [innerHTML]="rawitjn"></span></span>
      <span><span [innerHTML]="rawhrak"></span></span>
    </span>
    <a routerLink="/get-started" class="solutions-navlink5 button">
      Book a Demo
    </a>
  </div>
  <div class="home-banner-advanced-analytics" id="inventory">
    <div class="home-centered-container">
      <div class="home-image-container">
        <a routerLink="/solutions" class="home-navlink08">
          <img alt="pastedImage" src="/assets/inventory1.png" class="home-cards-image1" />
        </a>
      </div>
      <div class="home-left1">
        <span class="home-text26 sub-title">
          <a routerLink="/inventory" style="text-decoration: none;">Case Management
          </a>
        </span>
        <h2 class="home-text27 title">
          Effortlessly Organize, Track, and Prioritize Cases
        </h2>

        <span class="solutions-text10">
          Our Case Management feature offers a comprehensive solution for organizing, tracking, and prioritizing cases.
          With intuitive tools, you can easily manage case details, deadlines, categories, and documents, lobbying, and
          put up details. Collaborate seamlessly with your team, ensuring efficient case progression.
          <br>
          <br>
          <!-- <a routerLink="/inventory" style="text-decoration: none; display: flex; align-items: center;">
            <span style="margin-right: 5px;">Read more</span>
            <i class="material-symbols-outlined" style="margin-top: 3px;">trending_flat</i>
          </a> -->

        </span>

      </div>
    </div>
  </div>
  <div class="home-banner" id="payments">
    <div class="home-container8">
      <div class="home-left2">
        <span class="home-text31">
          <a routerLink="/payment-handling" style="text-decoration: none;">Appointment and Event Handling
          </a>
        </span>
        <h2 class="home-text32 title">Simplify Scheduling and Stay on Track

        </h2>
        <span class="solutions-text10">Our Appointment and event Handling features streamlines scheduling processes,
          allowing you to efficiently manage court dates, events, and meetings. With reminders and calendar integration,
          never miss important events again.

          <br>
          <br>
          <!-- <a routerLink="/payment-handling" style="text-decoration: none; display: flex; align-items: center;">
            <span style="margin-right: 5px;">Read more</span>
            <i class="material-symbols-outlined" style="margin-top: 3px;">trending_flat</i>
          </a> -->

        </span>

      </div>
      <div class="home-image-container2">
        <img alt="pastedImage" src="/assets/payment1.png" class="home-cards-image2" />
      </div>
    </div>
  </div>
  <div class="home-banner-advanced-analytics" id="labour">
    <div class="home-centered-container">
      <div class="home-image-container">
        <a routerLink="/solutions" class="home-navlink08">
          <img alt="pastedImage" src="/assets/labour1.png" class="home-cards-image1" />
        </a>
      </div>
      <div class="home-left1">
        <span class="home-text26 sub-title">
          <a routerLink="/labour" style="text-decoration: none;">Manage Tasks
          </a>
        </span>
        <h2 class="home-text27 title">
          Efficient Task Management for Enhanced Productivity.


        </h2>

        <span class="solutions-text10">Our Task Management feature enables seamless organization, assignment, and
          tracking of tasks within your firm. Prioritize work, set deadlines, and collaborate effectively to ensure
          every task is completed on time.

          <br>
          <br>
          <!-- <a routerLink="/labour" style="text-decoration: none; display: flex; align-items: center;">
            <span style="margin-right: 5px;">Read more</span>
            <i class="material-symbols-outlined" style="margin-top: 3px;">trending_flat</i>
          </a> -->

        </span>
      </div>
    </div>
  </div>
  <div class="home-banner" id="manage-tasks">
    <div class="home-container8">
      <div class="home-left2">
        <span class="home-text31">
          <a routerLink="/tasks" style="text-decoration: none;">HR and Payroll
          </a>
        </span>
        <h2 class="home-text32 title">Streamlined HR and Payroll Management for Advocate Firms

        </h2>
        <span class="solutions-text10">
          Our HR and Payroll feature simplifies staff management, attendance reporting, and payroll processing. Easily
          manage your team's schedules, track attendance, and generate accurate payroll reports, ensuring smooth
          operations and compliance.

          <br>
          <br>
          <!-- <a routerLink="/tasks" style="text-decoration: none; display: flex; align-items: center;">
            <span style="margin-right: 5px;">Read more</span>
            <i class="material-symbols-outlined" style="margin-top: 3px;">trending_flat</i>
          </a> -->
        </span>

      </div>
      <div class="home-image-container2">
        <img alt="pastedImage" src="/assets/logos/task-assign-vector-390714731-600h.jpg" class="home-cards-image2" />
      </div>
    </div>
  </div>
  <div class="home-banner-advanced-analytics" id="daily-reports">
    <div class="home-centered-container">
      <div class="home-image-container">
        <a routerLink="/solutions" class="home-navlink08">
          <img alt="pastedImage" src="/assets/daily-reports2.png" class="home-cards-image1" />
        </a>
      </div>
      <div class="home-left1">
        <span class="home-text26 sub-title">
          <a routerLink="/daily-reports" style="text-decoration: none;">Leave Management
          </a>
        </span>
        <h2 class="home-text27 title">Effortless Leave Management for Advocate Firms

        </h2>

        <span class="solutions-text10">
          Our Leave Management feature streamlines the process of applying for leaves, setting up holidays, carrying
          forward unused leaves, and obtaining leave approvals. Simplify leave tracking and ensure smooth operations.


          <br>
          <br>
          <!-- <a routerLink="/daily-reports" style="text-decoration: none; display: flex; align-items: center;">
            <span style="margin-right: 5px;">Read more</span>
            <i class="material-symbols-outlined" style="margin-top: 3px;">trending_flat</i>
          </a> -->
        </span>
      </div>
    </div>
  </div>
  <div class="home-banner" id="enquiries">
    <div class="home-container8">
      <div class="home-left2">
        <span class="home-text31">
          Access Permission and Role Restrictions

        </span>
        <h2 class="home-text32 title">Secure Access Control and Customized Role Permissions

        </h2>
        <span class="solutions-text10">
          Our Access Restriction and Role Permission feature provides granular control over user access, ensuring data
          security and compliance. Customize roles and permissions to restrict access to sensitive information and
          functionalities, protecting your firm's data.
        </span>

      </div>
      <div class="home-image-container2">
        <img alt="pastedImage" src="/assets/search1.png" class="home-cards-image2" />
      </div>
    </div>
  </div>
  <div class="home-banner-advanced-analytics" id="project-files">
    <div class="home-centered-container">
      <div class="home-image-container">
        <a routerLink="/solutions" class="home-navlink08">
          <img alt="pastedImage" src="/assets/logos/office-document-file-folders-vector-600h.jpg"
            class="home-cards-image1" /> </a>
      </div>
      <div class="home-left1">
        <span class="home-text26 sub-title">
          Filtration, Reporting, and Exporting

        </span>
        <h2 class="home-text27 title">Efficient Data Management and Analysis Tools

        </h2>

        <span class="solutions-text10">
          Our Filtration, Reporting, and Exporting features offer powerful tools to manage, analyze, and export data
          effectively. Filter data, generate comprehensive reports, and export data seamlessly to optimize your firm's
          operations and decision-making processes.

        </span>
      </div>
    </div>
  </div>




  <section class="home-action-bar">
    <div class="home-action">
      <div class="home-heading">
        <span class="home-text35 title">Get Started with Nirmaan Law</span>

        <span class="solutions-text24">
          Book our demo for free of cost</span>
        <a routerLink="/pricing" class="home-navlink11">
          <div class="home-get-started5 template-button" style="background-color: aliceblue; color: black;">
            <span class=" home-text37">
              <span>Book a demo</span>
              <br />
            </span>
          </div>
        </a>
      </div>
      <img alt="image" src="/assets/nirmaan%20360caviar%20dreams%20white-01-1200w.png" class="home-image2" />
      <div class="home-images"></div>
    </div>
  </section>
  <!-- </div> -->
  <div class="solutions-container8"><app-footer [isHome]="false"></app-footer></div>
</div>