<div class="banner-manage-banner-manage">
  <div class="banner-manage-container">
    <div class="banner-manage-left">
      <span class="banner-manage-text sub-title">{{ text }}</span>
      <span class="banner-manage-text1 title">{{ text1 }}</span>
      <span class="banner-manage-text2">{{ text2 }}</span>
    </div>
    <div class="banner-manage-container1">
      <img
        [attr.alt]="imagealt1"
        [attr.src]="imagesrc1"
        class="banner-manage-image"
      />
    </div>
  </div>
</div>
